<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".content_html",
    link1: link_to(t(".tutorial"), "http://www.railstutorial.org/"),
    link2: link_to(t(".book"), "http://www.railstutorial.org/book"),
    link3: link_to(t(".screencast_series"), "http://screencasts.railstutorial.org/"),
    link4: link_to(t(".rails"), "http://rubyonrails.org/") %>
</p>
