<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".help_html",
    link1: link_to(t(".help_tutorial"),"http://www.railstutorial.org/help"),
    link2: link_to(t(".book"),"http://www.railstutorial.org/book") %>
</p>
