<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>
<ul class="users">
  <ul class="users">
    <%= render @users %>
  </ul>
</ul>
<%= paginate @users,theme: "twitter-bootstrap-3", window: 3 %>
