<footer class="footer">
  <small>
    <%= t".footer_html",
      link1: link_to(t(".tutorial"), "http://www.railstutorial.org/"),
      link2: link_to(t(".author"), "http://www.michaelhartl.com/") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
